<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <table align="center">
        <!-- Inicio sesion -->
        <tr>
            <td>
                <form action="" method="POST">
                    <fieldset>
                        <legend style="color:darkturquoise"><h2><i>Iniciar sesión</i></h2></legend>
                        <label for="correo">Correo: 
                            <br>
                            <input type="email" name="correo">
                        </label><br><br>
                        <label for="password">Contraseña: 
                            <br>
                            <input type="password" name="password">
                        </label>
                        <br><br>
                        <input type="submit" value="Acceder" style="background-color:aquamarine">
                    </fieldset>
                </form>
            </td>
        </tr>
        <!-- Busqueda de libros -->
        <tr>
            <td>
                <form action="../dynamics/resultadosbusqueda.php" method="POST">
                    <fieldset>
                        <legend style="color:darkturquoise"><h2><i>Búsqueda</i></h2></legend>
                        <label for="texto">Buscar: 
                            <br>
                            <input type="text" name="texto" style="width: 488px">
                        </label><br><br>
                        Categorias de busqueda: 
                        <table>
                            <thead>
                                <tr>
                                    <th>Área</th>
                                    <th>Año</th>
                                    <th>Editorial</th>
                                    <th>Autor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select name="area">
                                            <option value="0">Escoge(opcional)</option>
                                            <option value="1">Área 1</option>
                                            <option value="2">Área 2</option>
                                            <option value="3">Área 3</option>
                                            <option value="4">Área 4</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="number" name="año" style="width: 60px">
                                    </td>
                                    <td>
                                        <input type="text" name="editorial" style="width: 100px">
                                    </td>
                                    <td>
                                        <input type="text" name="autor">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <input type="submit" value="Buscar" style="background-color:aquamarine">
                        <input type="reset" value="Cancelar" style="background-color:aquamarine">
                    </fieldset>
                </form>
            </td>
        </tr>
        <!-- Añadir Lectores -->
        <tr>
            <td>
                <form action="" method="POST">
                    <fieldset>
                        <legend style="color:darkturquoise"><h2><i>Añadir Lectores</i></h2></legend>
                        <label for="correo">Correo: 
                            <input type="email" name="correo">
                        </label>
                        <br><br>
                        <label for="name">Nombre completo: 
                            <input type="text" name="name">
                        </label>
                        <br><br>
                        <label for="fecha_nacim">Fecha de nacimiento: 
                            <input type="date" name="fecha_nacim" min="1930-01-01">
                        </label>
                        <br><br>
                        <label for="identificacion">No. de cuenta o RFC: 
                            <input type="text" name="identificacion" minlength="9" maxlength="15">
                        </label>
                        <br><br>
                        <label for="contraseña">Contraseña: 
                            <input type="password" name="contraseña">
                        </label>
                        <br><br>
                        <input type="submit" value="Añadir" style="background-color:aquamarine">
                        <input type="reset" value="Cancelar" style="background-color:aquamarine">
                    </fieldset>
                </form>
            </td>
        </tr>
        <!-- Eliminar lectores -->
        <tr>
            <td>
                <form action="" method="POST">
                    <fieldset>
                        <legend style="color:darkturquoise"><h2><i>Eliminar Lectores</i></h2></legend>
                        <i>Datos de la cuenta que quieres eliminar</i><br>
                        <hr>
                        <br>
                        <label for="name">Nombre completo: 
                            <input type="text" name="name">
                        </label>
                        <br><br>
                        <label for="identificacion">No. de cuenta o RFC:
                            <input type="text" name="identificacion" minlength="9" maxlength="15">
                        </label>
                        <br><br>
                        <input type="submit" value="Eliminar" style="background-color:aquamarine">
                        <input type="reset" value="Cancelar" style="background-color:aquamarine">
                    </fieldset>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>